{% extends "base.html" %}
{%  block title %}

{% endblock %}
{% block content %}

    <div class="horizontal layout wrap" style="margin-top: 20px; margin-left: 7%; margin-right: 7%;">

        <paper-material style="min-width: 200px; max-width: 40%; background: #fff">

            <h2 style="padding: 7px;">TU PERFIL</h2>

            <p style="padding: 7px;">Hechale un vistaso a tu perfil para que descargues las certificaciones, mires en que
                actividades estas con nosotros o edita tus datos cuantas veces quieras</p>

            <paper-button >Ver perfil</paper-button>

        </paper-material>

        <paper-material style="min-width: 50%;
                margin-left: 7%;background: #fff">

            <h2 style="padding: 7px;">NUESTRAS ACTIVIDADES</h2>

            <p style="padding: 7px;">Tenemos muchas actividades para ti, ven y echale un vistaso</p>
            <paper-button >Ver actividades</paper-button>
        </paper-material>

    </div>

{% endblock %}
