{% extends "base-superadmin.html" %}
{%  block title %}
    Tipos de secciones
{% endblock %}
{% block content %}

    <script>

        $(document).ready( function () {
            $('#sectionTypesTable').DataTable({

                language: {
                    search: "Buscar:",
                    lengthMenu: "Mostrando _MENU_ registros",
                    infoEmpty: "Mostrando 0 a 0 de 0 registros",
                    info: "mostrando _START_ hasta _END_ de _TOTAL_ registros",
                    emptyTable: "No hay datos para mostrar en la tabla",

                    paginate: {
                        first:      "Primero",
                        previous:   "Anterior",
                        next:       "Siguiente",
                        last:       "ultimo"
                    },

                }

            });

        } );

    </script>


    <dom-module id="section-type-view">
        <template>
            <div>

                <paper-material style="height: 100%;
                        position: absolute;
                        width: 100%;
                        display: contents;"
                                elevation="5">


                    <table style="width: 100%;"
                           rules="rows"
                           id="sectionTypesTable">
                        <thead>
                        <tr>
                            <td>
                                Nombre
                            </td>
                            <td>
                                Activo
                            </td>
                            <td>
                                Acciones
                            </td>
                        </tr>
                        </thead>
                        <tbody>

                        {% for section_types in section_types %}
                            <tr style="border-bottom: 1px solid #999;">
                                <td>
                                    {{section_types.1}}
                                </td>

                                <td>

                                    {% if section_types.2 == True %}

                                        <paper-checkbox checked
                                                        disabled>

                                        </paper-checkbox>

                                    {% else %}
                                        <paper-checkbox disabled>

                                        </paper-checkbox>
                                    {% endif %}
                                </td>

                                <td>

                                    <paper-fab
                                            mini
                                            icon="edit"
                                            on-click="getSectionType"
                                            data="{{ section_types.0 }}"
                                            style="background: #5C6BC0">

                                    </paper-fab>

                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>


                </paper-material>

            </div>

            <paper-fab
                    icon="add"
                    elevation="5"
                    on-click = "openDlgSectionTypeForm"
                    style="position: fixed;
        right: 10px;
        bottom: 10px;
        background: #3f51b5;">

            </paper-fab>

            <paper-dialog entry-animation="scale-up-animation"
                          exit-animation="fade-out-animation" id="dlgSectionTypeForm"
                          style="max-height: 250px;
                        min-width: 32%;"
                          modal = "true">
                <div id="dialog-body" style="padding: 0px;">

                    <paper-toolbar class="toolbar-main"
                                   style="margin-top: -24px;">
                        <div class="title">Formulario de Tipos de Secciones</div>
                        <paper-icon-button on-click="closeDlgSectionTypeForm" icon="close"></paper-icon-button>
                    </paper-toolbar>
                    <div id="sign-up" style="padding: 10%;
                                min-width: 60px;">

                        <form is="iron-form"
                              style="margin-top: -50px;
                                    padding: 17px;
                                max-width: 100%;"
                              id="sectionTypeForm">

                            <paper-input
                                    required auto-validate
                                    error-message="El campo no puede estar vacio."
                                    id="sectionTypeDescription"
                                    label="Nombre del tipo de secci&#243;n"
                                    required>
                            </paper-input>

                            <paper-checkbox checked
                                            id ="is_active"
                                            disabled
                                            style="margin-top:10px;
                                                    width: 100%">
                                activo
                            </paper-checkbox>

                            <input type="hidden" id="section_type_code"/>
                            <paper-button id="btnCreateSectionType" on-click="createSectionType" raised style="width: 30%;margin-top: 23px;background:#00C851;
                                        color: white;" >Agregar</paper-button>

                            <paper-button id="btnEditSectionType" on-click="createSectionType" raised style="width: 30%;margin-top: 23px;background:#FFC107;
                                        color: white;" >Editar</paper-button>

                            <paper-button on-click="cleanSectionType" raised style="width: 30%;margin-top: 23px;background:#FF5722;
                                        color: white;" >Limpiar</paper-button>
                        </form>

                    </div>
                </div>
            </paper-dialog>

            <paper-dialog
                    entry-animation="scale-up-animation"
                    exit-animation="fade-out-animation"
                    id="dialog"
                    class="colored"
                    modal = "true"
                    on-iron-overlay-closed = "onCloseDialog">
                <h2>Mensaje</h2>
                <div id="dialog-body">[[body]]</div>
                <div class="buttons">
                    <paper-button dialog-dismiss>Cerrar</paper-button>
                </div>

            </paper-dialog>

            <iron-ajax
                    id="ajaxCreateSectionType"
                    url=""
                    handle-as="json"
                    on-response="createSectionTypeResponse">
            </iron-ajax>

            <iron-ajax
                    id="ajaxGetSectionType"
                    url=""
                    handle-as="json"
                    on-response="responseGetSectionType">
            </iron-ajax>


        </template>

        <script>


            function validateEditForm(){

                if(document.getElementById('sectionTypeDescription').validate() )
                {
                    return true;
                }else
                {
                    return false;
                }

            }

            Polymer({
                is: "section-type-view",
                properties: {},

                ready: function () {

                },

                openDlgSectionTypeForm: function(){

                    dlgSectionTypeForm.open();
                    this.$.is_active.disabled = true;
                    this.$.sectionTypeForm.reset();
                    this.$.is_active.checked = true;
                    document.getElementById("btnEditSectonType").hidden = true;
                    document.getElementById("btnCreateSectionType").hidden = false;

                },

                closeDlgSectionTypeForm: function(){
                    dlgSectionTypeForm.close();
                },

                createSectionType:function(event){

                    if(validateEditForm()){

                        var csrftoken = document.getElementById("csrfmiddlewaretoken").value;
                        this.$.ajaxCreateSectionType.method = "POST";
                        this.$.ajaxCreateSectionType.url = document.URL;

                        var method = "";
                        if(this.$.is_active.disabled){
                            method = "create";
                        }else{
                            method = "edit";
                        }

                        this.$.ajaxCreateSectionType.body = {

                            'section_type_name': this.$.sectionTypeDescription.value,
                            'section_type_code':document.getElementById("section_type_code").value,
                            'is_active':this.$.is_active.checked,
                            'method': method
                        };

                        this.$.ajaxCreateSectionType.headers = {
                            "X-CSRFToken":  getCookie('csrftoken'),
                            "X-Requested-With": "XMLHttpRequest",
                            "content-type": "application/json"
                        };

                        this.$.ajaxCreateSectionType.generateRequest();

                    }else{
                        this.body = 'Por favor diligencie los datos obligatorios';
                        this.$.dialog.open();
                    }
                },

                createSectionTypeResponse: function(request) {

                    this.body = request.detail.response.message;
                    this.$.dialog.open();

                    if(!request.detail.response.is_error){
                        this.$.sectionTypeForm.reset();
                    }
                },

                openDlgSectionTypeForm:function(){

                    dlgSectionTypeForm.open();
                    this.$.is_active.disabled = true;
                    this.$.sectionTypeForm.reset();
                    this.$.is_active.checked = true;
                    document.getElementById("btnEditSectionType").hidden = true;
                    document.getElementById("btnCreateSectionType").hidden = false;

                },


                cleanSectionType:function(){

                    this.$.is_active.disabled = true;
                    this.$.sectionTypeForm.reset();
                    this.$.is_active.checked = true;
                    document.getElementById("btnEditSectionType").hidden = true;
                    document.getElementById("btnCreateSectionType").hidden = false;

                },

                onCloseDialog: function(){
                    location.reload();
                },

                getSectionType: function(e){

                    var url = document.URL;
                    console.log(e);
                    document.getElementById("section_type_code").value = e.currentTarget.attributes[2].value;
                    var ajaxUrl = "?load=true&section_type_code=" + e.currentTarget.attributes[2].value;
                    url = url + ajaxUrl;
                    this.querySelector('iron-ajax#ajaxGetSectionType').url = url
                    this.querySelector('iron-ajax#ajaxGetSectionType').generateRequest();
                },

                responseGetSectionType: function(response){

                    this.querySelector('paper-input#SectionTypeDescription').value = response.detail.response.section_type_name;
                    check = this.querySelector('paper-checkbox#is_active');
                    check.checked = response.detail.response.is_active;
                    check.disabled = false;
                    document.getElementById("btnEditSectionType").hidden = false;
                    document.getElementById("btnCreateSectionType").hidden = true;
                    dlgSectionTypeForm.open();

                },


            })

        </script>


    </dom-module>

    <section-type-view></section-type-view>

{% endblock %}