<!DOCTYPE html>
<html lang="en">
<head>



    {% load static from staticfiles %}
    <link rel="import" href="{% static 'elements.vulcanized.html' %}" />
    <script src="{% static 'js/general.js' %}"></script>

    {% block imports %} {% endblock %}

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body style="background: #eee">
<input type="hidden" id="csrfmiddlewaretoken" value="{{ csrf_token }}">
{% block content %}	{% endblock %}
{% if user.is_authenticated %}
    <base-login></base-login>
 {% else %}
    <x-app></x-app>

{% endif %}

<footer>

    <p>develop by Jhon Edison Gomez</p>
</footer>


</body>
</html>